
.price-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    min-height: 260px;
}

.price-main-text{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.price-price-text {
    font-size: 38px;
    text-align: center;
    color: #444444
}

.price-subtext-text {
    font-size: 14px;
    text-align: center;
}

.note-price {
    margin-top: 24px;
}

.iconKE {
    width: 36px;
    height: 36px;
}